<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 启用应用程序沙盒。沙盒机制限制了应用程序对系统资源的访问，增强了安全性。 -->
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<!-- 允许应用程序读写用户明确选择的文件。这是为了让应用程序能够处理用户选择的媒体文件。 -->
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
	<!-- 新增：允许应用创建和使用安全范围的书签 -->
	<key>com.apple.security.files.bookmarks.app-scope</key>
	<true/>
	<!-- 临时例外：允许应用程序执行指定绝对路径下的可执行文件。
	     这里是为了允许应用程序调用 Homebrew 安装的 ffmpeg 工具。
	     请注意，在实际发布应用时，通常需要将 ffmpeg 嵌入到应用包中，而不是依赖外部路径。
	-->
	<key>com.apple.security.temporary-exception.files.absolute-path.executable</key>
	<array>
		<string>/opt/homebrew/bin/ffmpeg</string>
	</array>
</dict>
</plist>
